In [7]:
#working with dictionary
my_dict = {"first": 50, "second": 70, "third": 68}
print(my_dict["second"])

{'first': 50, 'second': 70, 'third': 68}

In [8]:
my_dict = {"first": 50, "second": 70, "third": 68}
print(my_dict["second"]) #how access items in a dict

70

In [9]:
my_dict = {"first": 50, "second": 70, "third": 68}
my_dict["second"] = 90
print(my_dict)

{'first': 50, 'second': 90, 'third': 68}

In [10]:
new_dict = {'Age': 29, 'Sex': 'Female', "subjects": ['Biology', 'Chemistry', 'Physics']}
#print(new_dict["subjects"])
dict_values = new_dict.values()
print(dict_values)

['Biology', 'Chemistry', 'Physics']

In [15]:
new_dict = {'Age': 29, 'Sex': 'Female', "subjects": ['Biology', 'Chemistry', 'Physics']}
#print(new_dict["subjects"])
dict_values = new_dict.values()
print("values",dict_values)

values dict_values([29, 'Female', ['Biology', 'Chemistry', 'Physics']])

In [14]:
new_dict = {'Age': 29, 'Sex': 'Female', "subjects": ['Biology', 'Chemistry', 'Physics']}
#print(new_dict["subjects"])
dict_keys = new_dict.keys()
print("keys",dict_keys)

keys dict_keys(['Age', 'Sex', 'subjects'])

In [16]:
new_dict = {'Age': 29, 'Sex': 'Female', "subjects": ['Biology', 'Chemistry', 'Physics']}
#print(new_dict["subjects"])
dict_items = new_dict.items()
print("items tuple", dict_items)

items tuple dict_items([('Age', 29), ('Sex', 'Female'), ('subjects', ['Biology', 'Chemistry', 'Physics'])])

In [17]:
new_dict = {'Age': 29, 'Sex': 'Female', "subjects": ['Biology', 'Chemistry', 'Physics']}
for item in new_dict.items():
    print("key =", item[0], "value =", item[1])

key = Age value = 29
key = Sex value = Female
key = subjects value = ['Biology', 'Chemistry', 'Physics']

In [2]:
cart = [{"product_id" : 23, "name": "fish", "quantity": 2, "price": 5000}, {"product_id" : 26, "name": "shoe", "quantity":2, "price": 2000, "color": "blue"}]
total = 0
for item in cart:
    cost = item["price"] * item["quantity"]
    total += cost
print("cart total cost =", total)

cart total cost = 14000

In [19]:
data =  [{"name": "Sam", "Biology": 60, "Physics": 64, "Maths": 80}, {"name": "Willy", "Biology": 70, "Physics": 44, "Maths": 60}, {"name": "Ade", "Biology": 30, "Physics": 84, "Maths": 50}]
total = 0
for student in data:
    total_score = student["Biology"] + student["Physics"] + student["Maths"]
    student["Total"] = total_score
    print(student['name'], "scored", total_score)
print(data)

Sam scored 204
Willy scored 174
Ade scored 164
[{'name': 'Sam', 'Biology': 60, 'Physics': 64, 'Maths': 80, 'Total': 204}, {'name': 'Willy', 'Biology': 70, 'Physics': 44, 'Maths': 60, 'Total': 174}, {'name': 'Ade', 'Biology': 30, 'Physics': 84, 'Maths': 50, 'Total': 164}]

In [21]:
data =  [{"name": "Sam", "Biology": 60, "Physics": 64, "Maths": 80}, {"name": "Willy", "Biology": 70, "Physics": 44, "Maths": 60}, {"name": "Ade", "Biology": 30, "Physics": 84, "Maths": 50}]
for student in data:
    total_score = student.get("Biology") + student.get("Physics") + student.get("Maths")
    student["Total"] = total_score
    print(student['name'], "scored", total_score)
print(data)

Sam scored 204
Willy scored 174
Ade scored 164
[{'name': 'Sam', 'Biology': 60, 'Physics': 64, 'Maths': 80, 'Total': 204}, {'name': 'Willy', 'Biology': 70, 'Physics': 44, 'Maths': 60, 'Total': 174}, {'name': 'Ade', 'Biology': 30, 'Physics': 84, 'Maths': 50, 'Total': 164}]

In [1]:
#working with set
my_set = {'Maths', 'Literature', 'Geography'}
print(my_set)
my_set.add('Biology')
print(my_set)

{'Literature', 'Maths', 'Geography'}
{'Literature', 'Maths', 'Geography', 'Biology'}

In [26]:
set_a = {'Maths', 'Literature', 'Geography'}
set_b = {'Maths', 'English', 'Physics', 'Chemistry'}
set_difference = set_a.difference(set_b)
print("Difference",set_difference)

set_union = set_a.union(set_b)
print("Union",set_union)
set_intersection = set_a.intersection(set_b)
print("Intersection",set_intersection)

Difference {'Geography', 'Literature'}
Union {'Geography', 'Physics', 'Chemistry', 'Literature', 'English', 'Maths'}
Intersection {'Maths'}

In [1]:
set_b = {'Maths', 'English', 'Physics', 'Chemistry'}
for i in set_b:
    print(i)

English
Chemistry
Maths
Physics

In [3]:
set1 = {"Sam", "David", "Chisom", "Ngozi"}
set2 ={"Alake", "Ade", "Ngozi", "Brown"}
set_difference = set1.difference(set2)
print("Difference",set_difference)

set_union = set1.union(set2)
print("Union",set_union)

set_intersection = set1.intersection(set2)
print("Intersection",set_intersection)

Difference {'Chisom', 'Sam', 'David'}
Union {'Ade', 'Brown', 'David', 'Chisom', 'Ngozi', 'Alake', 'Sam'}
Intersection {'Ngozi'}

In [4]:
#working with tuple
mytuple = ("orange", "banana", "mango")
for fruits in mytuple:
    print(fruits)

orange
banana
mango

In [2]:
list_in_list = [13, 5, 7,8,9,1,[9,0,3],[16,34,8]]
for num in list_in_list:
    if type(num) == type([]):
        for i in num:
            print(i)
    else:
        print(num)

13
5
7
8
9
1
9
0
3
16
34
8

In [14]:
list_in_list = [13, 5, 7,8,9,1,{9,0,3},[16,34,8], (10,30,80)]
for num in list_in_list:
    if type(num) in [type(list()),type(tuple()),type(set())]:
        for i in num:
            print(i)
    else:
        print(num)

13
5
7
8
9
1
0
9
3
16
34
8
10
30
80