In [3]:
#working with for Loop
fruit = 'Banana'
for item in fruit:
    print(item)
    
fruit_list = ['Cashew', 'Orange', 'Banana', 'Mango', 'Pineapple']
for fruit in fruit_list:
    print(fruit, "is of length =", len(fruit))

B
a
n
a
n
a
Cashew is of length = 6
Orange is of length = 6
Banana is of length = 6
Mango is of length = 5
Pineapple is of length = 9

In [5]:
#working with for Loop and range function
for number in range(2,31,2):
    print(number, "squared =",number**2)

2 squared = 4
4 squared = 16
6 squared = 36
8 squared = 64
10 squared = 100
12 squared = 144
14 squared = 196
16 squared = 256
18 squared = 324
20 squared = 400
22 squared = 484
24 squared = 576
26 squared = 676
28 squared = 784
30 squared = 900

In [6]:
#working with while loop
count = 0
break_point = 9
while (count < break_point):
    print("count is at", count)
    count +=1
   #count = count + 1
print("we are done")

count is at 0
count is at 1
count is at 2
count is at 3
count is at 4
count is at 5
count is at 6
count is at 7
count is at 8
we are done

In [12]:
fruit_list = ['Cashew', 'Orange', 'Banana', 'Mango', 'Pineapple']
index = 0
list_length = len(fruit_list)
while (index < list_length):
    print(fruit_list[index])
    index = index + 1
    #index +=1

print("The end!")

Cashew
Orange
Banana
Mango
Pineapple
The end!

In [4]:
number_list = [2,3,5,7,8,12]
for number in number_list:
    print(number, "squared =",number**2)

2 squared = 4
3 squared = 9
5 squared = 25
7 squared = 49
8 squared = 64
12 squared = 144

In [3]:
number_list = [2,3,5,7,8,12]
index = 0
length = len(number_list)
while (index < length):
    
    print(number_list[index], "squared =", number_list[index]**2)
    index +=1

2 squared = 4
3 squared = 9
5 squared = 25
7 squared = 49
8 squared = 64
12 squared = 144

In [6]:
#using conditionals in loop.
#printing only even numbers

number_list = [2,3,5,7,8,12]
for number in number_list:
    square = number**2
    if(square%2 == 0):
        print(number, "squared =",square)

2 squared = 4
8 squared = 64
12 squared = 144

In [8]:
#Nested for loop
num_list1 = [1,2,3,4,5]
num_list2 = [6,7,8,9,10]
for x in num_list1:
    print("for",x)
    for y in num_list2:
        print(x*y)

for 1
6
7
8
9
10
for 2
12
14
16
18
20
for 3
18
21
24
27
30
for 4
24
28
32
36
40
for 5
30
35
40
45
50

In [9]:
#Nested for loop
#formated version
num_list1 = [1,2,3,4,5]
num_list2 = [6,7,8,9,10]
for x in num_list1:
    print("for",x)
    for y in num_list2:
        print(x, "X",y, "=", x*y)

for 1
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
for 2
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
for 3
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
for 4
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
for 5
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [11]:
num_list1 = range(1,13)
num_list2 = range(1,13)
for x in num_list1:
    print("for",x)
    for y in num_list2:
        print(x, "X",y, "=", x*y)

for 1
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
1 X 11 = 11
1 X 12 = 12
for 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24
for 3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
3 X 11 = 33
3 X 12 = 36
for 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
4 X 11 = 44
4 X 12 = 48
for 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
5 X 11 = 55
5 X 12 = 60
for 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
6 X 11 = 66
6 X 12 = 72
for 7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
7 X 11 = 77
7 X 12 = 84
for 8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
8 X 11 = 88
8 X 12 = 96
for 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
9 X 11 = 99
9 X 12 = 108
for 10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100
10 X 11 = 110
10 X 12 = 120
for 11
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110
11 X 11 = 121
11 X 12 = 132
for 12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120
12 X 11 = 132
12 X 12 = 144

In [14]:
#using break statement in a loop
animals = ["cow", "goat", "dog", "cat", "rat", "chicken"]
for animal in animals:
    print(animal)
    if animal == "goat":
        break

cow
goat

In [15]:
#using break statement in a loop
animals = ["cow", "goat", "dog", "cat", "rat", "chicken"]
for animal in animals:
    if animal == "goat":
        break
    print(animal)

cow

In [16]:
#using continue statement in a loop
animals = ["cow", "goat", "dog", "cat", "rat", "chicken"]
for animal in animals:
    if animal == "goat":
        continue
    print(animal)

cow
dog
cat
rat
chicken