In [1]:
# This is a one line comment

"""
Here is a multi line comment
Line 2
Line 3 comment
"""

'\nHere is a multi line comment\nLine 2\nLine 3 comment\n'

In [3]:
#data types
name = 'amos enuekwe'
string_int = "45"
a = 30
b = 40.4
c = [1,3,4]
f = ['Nse', 'Dayo', 'Aisha']
e = complex(3,2) #3+2i
d = {'Nse', 'Dayo', 'Aisha'}
g = ('Nse', 'Dayo', 'Aisha')
h = {"name" : "David", "age" : 50, "location" : "Lagos"}

print("name is of type", type(name))
print("string_int is of type", type(string_int))
print("a is of type", type(a))
print("b is of type", type(b))
print("c is of type", type(c))
print("f is of type", type(f))
print("e is of type", type(e))
print("d is of type", type(d))
print("g is of type", type(g))
print("h is of type", type(h))

name is of type <class 'str'>
string_int is of type <class 'str'>
a is of type <class 'int'>
b is of type <class 'float'>
c is of type <class 'list'>
f is of type <class 'list'>
e is of type <class 'complex'>
d is of type <class 'set'>
g is of type <class 'tuple'>
h is of type <class 'dict'>

In [ ]:
# String or str
my_string = "Hello Beautiful"

# Float
my_float = 3.14

# List
my_list = [1,2,3,4,5]

# Dictionary or dict
my_dict = {'name': 'John', 'age' : 30, 'city' : 'New york'}

In [ ]:
# calculate expressions(a, b, d) :

a = 2

b = 4

c = a * b

d = a ** 10

e = d * a

print("c=",c)
print("d=",d)
print("e=",e)